<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>applinksdemo</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>applinksdemo://product/1</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Continue Shopping</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Espresso Maker</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeBookmark</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>bag.fill</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>applinksdemo://order/1001</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Track Latest Order</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Order #1001</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>shippingbox.fill</string>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
